.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.top {
  background: #003b95;

}

hr {
  color: #fff;
  height: 1px;
}

.header {
  background: #003b95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 20px 100px;
}

.header h3 {
  font-weight: bold;
  font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right span {
  padding-right: 10px;
}

.right span img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.right span,
Button {
  margin-right: 5px;

}

.poster {
  display: flex;
  justify-content: left;
  padding: 20px 100px;
}

.navi Button {
  margin-right: 10px;
}

.empty {
  height: 120px;
}

.poster1 {
  padding: 20px 100px;
}

.poster1 h1 {
  color: #fff;
  text-align: left;
  font-size: 45px;
}

.poster1 p {
  text-align: left;
  color: #fff;
  font-size: 26px;
}

.user{
  background: #ffb700;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.user input{
  width: 30%;
  border-radius: 5px;
  border: #fff;
  padding: 10px 5px;
}
/* .title{
  color: #fff;

} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}